<header class="d-block">
    <a href="#" class="logo f-left" > <span>{{firstName}}</span> {{lastName}} </a>
    <nav class="mt-5 mt-md-0">
        <ul>
            <li class="f-left"><a href="{% url 'about' %}">about</a></li>
            <li class="f-left"><a href="{% url 'skills' %}">skills</a></li>
            <li class="f-left"><a href="{% url 'education' %}">education and diplomas</a></li>
            <li class="f-left"><a href="{% url 'experience' %}">experience</a></li>
          
        </ul>
        <ul class="config">
<li><a href="{% url 'connect' %}">Configuration</a></li>
        </ul>
    </nav>
    <!-- <div class="icons">
        <a href="https://www.facebook.com/profile.php?id=100011805336956" target="_blank"><i class="fab fa-facebook-f fs-1 mx-3"></i></a>
        <a href="https://twitter.com/ahmedshalaby500" target="_blank"><i class="fab fa-twitter fs-1 " ></i></a>
        <a href="https://github.com/ah50a" target="_blank"><i class="fab fa-github fs-1 mx-3" ></i></a>
        <a href="https://www.linkedin.com/in/ahmed-shalaby-2a4a5b172/" target="_blank"><i class="fab fa-linkedin fs-1 "></i></a>
    </div> -->
</header>